:root {
  --main-black-color: #000000;
  --main-white-color: #ffffff;
  --accent-color: #2196f3;
  --dark-main-color: #212121;
  --text-color: #757575;
  --main-footer-color: #2f303a;
  --background-primary-gray: #f5f4fa;
  --background-primary-darck: rgba(47, 48, 58, 0.8);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.nav-main {
  display: flex;
}

.head-contacts {
  margin-left: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: black;
}

.header-logo {
  margin-right: 93px;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.item-nav {
  margin-right: 50px;
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tell {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.link-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.foot-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address .foas {
  display: inline-block;
}

/* -------портфоліо-------- */

.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
}

.button-logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
  font-style: normal;
}

.button-logo .item:not(:last-child) {
  margin-right: 8px;
}


.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
}

.button-item {
  padding: 6px 22px;
}

.button-item:hover,
.button-item:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* body */

/* button */

.title-button {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--main-white-color);
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-one {
  background-color: var(--main-footer-color);
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* .button-one > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
}
/* about */

.about > .container > .about-list {
  display: flex;
}
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-main-color);
}

.about-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.item-list:not(:last-child) {
  margin-right: 30px;
}
.about-pre-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* whoweare */
.whoweare {
  background-color: #f5f5f5;
}

.whoweare-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
}

.whoweare > .whoweare-title > .whoweare-list {
  display: flex;
}

.whoweare {
  padding-bottom: 94px;
}


.whoweare .whoweare-title {
  justify-content: center;
  margin-bottom: 50px;
}
.whoweare .whoweare-list {
  display: flex;
}

.menu-logo {
  background: var(--accent-color);
}

/*team*/
.teamphoto-list {
  display: flex;
  gap: 30px;
}

.team .whoweare-title {
  justify-content: center;
  margin-bottom: 50px;
}

.team-photo {
  width: calc(100% - 60px / 3);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-primary-gray);
}

.teamdiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* marketing */
.footmain {
  background-color: #2f303a;
}

.title-marketing {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-main-color);
}

.marketing-pre {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.marketing-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-grow: 1 1 1;
  /* width: calc(100% - 60px / 3); */
}

.markdiv {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.studio-logofoot {
  color: var(--main-white-color);
}

.map-google {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.footmain {
  padding: 60px 0;
}

.foomain > .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.web {
  display: inline-block;
  margin-bottom: 20px;
}
